@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: bg-blue-400;
  --secondary: bg-blue-600;
}

@theme {
  --color-disabled: oklch(92.9% 0.013 255.508); /* bg-gray-200 */
  --color-lightbg: oklch(93.2% 0.032 255.585); /* bg-blue-100*/
  --color-primarybg: oklch(80.9% 0.105 251.813); /* bg-blue-300 */
  --color-primary: #1A4848;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply flex flex-col space-y-2 bg-white rounded-md px-4 py-4
}

.select-container {
  @apply border-primarybg transition duration-300 focus:border-black border-2 px-4 py-2 rounded-md
}

.input {
  @apply mt-1 px-2 py-1 placeholder:italic placeholder:text-sm placeholder-primarybg border-2 border-primarybg transition duration-300 focus:border-black rounded-md
}

.button {
  @apply px-2 py-1 cursor-pointer disabled:bg-gray-300 hover:bg-primarybg duration-300 ease-in-out transition bg-lightbg rounded-md
}